# Created by https://www.gitignore.io/api/psoccreator

### PSoCCreator ###
# Project Settings
*/*.cywrk.*
*/*.cyprj.*
*/*.cydsn/*.cyprj.*
*/*.cydsn/CortexM3/*

# Generated Assets and Resources
*/*.cydsn/Debug/*
*/*.cydsn/Docs/*
*/*.cydsn/Release/*
*/*.cydsn/Export/*
*/*/codegentemp/*
*/*/Generated_Source/*
*/*.cydsn/*_timing.html
*/*.cydsn/*.cycdx
*/*.cydsn/*.cyfit
*/*.cydsn/*.rpt
*/*.cydsn/*.svd
*/*.cydsn/*.log
*/*.cydsn/*.DS_Store
*/Backup/*


# Python
*/*/__pycache__
venv/

# Markdown previews
*.pdf

# Output clear
*.csv
